/*
body {
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
*/
th {
	text-align: left;
}
th.title {
	width: 20%;
}
th.url {
	width: 75%;
}
th.key {
	width: 5%;
}
td.title {
	width: 20%;
	font-size: 1.25em;
}
td.url {
	width: 75%;
	font-size: 1.25em;
}
td.key {
	width: 5%;
	font-size: 1.25em;
}

input.title {
	width: 95%;
	margin: auto;
}

input.url {
	width: 95%;
	margin: auto;
}

input.key {
	width: 1em;
	margin: auto;
}



/**************************************/
/*                Tabs                */
/**************************************/

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

div.tabcontent p {
	font-size: 1.25em;
}