th {
	text-align: left;
}
th.title {
	width: 20%;
}
th.url {
	width: 75%;
}
th.key {
	width: 5%;
}
td.title {
	width: 20%;
	font-size: 1.25em;
}
td.url {
	width: 75%;
	font-size: 1.25em;
}
td.key {
	width: 5%;
	font-size: 1.25em;
}

input.title {
	width: 95%;
	margin: auto;
}

input.url {
	width: 95%;
	margin: auto;
}

input.key {
	width: 1em;
	margin: auto;
}