
html, body {
	background-color: #101010;
	width: 11em;
}


.button {
	padding: 2%;
	margin: auto;
	text-align: left;
	cursor: pointer;
	max-width: 10em;
	width: 100%;
	border-width: 1px;
	border-style: none none solid;
	border-color: red;
}

.site {
	background-color: #101010;
	color: #DDDDDD;
}

.site:hover {
	background-color: #707070;
	color: #DDDDDD;
}

.options {
	background-color: #303030;
	color: #EEEEEE;
}

.options:hover {
	background-color: #EEEEEE;
	color: black;
}