
html, body {
	background-color: #101010;
}


.button {
	padding: 0.5em;
	border-width: 1px;
	border-style: none none solid;
	border-color: red;
	font-size: 1.2em;
}

.buttons {
	margin: 0.7em;
}

.site {
	background-color: #101010;
	color: #DDDDDD;
}

.site:hover {
	background-color: #707070;
	color: #DDDDDD;
}

.options {
	background-color: #303030;
	color: #EEEEEE;
}

.options:hover {
	background-color: #EEEEEE;
	color: black;
}